@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  scroll-behavior: smooth;
  transition: all 20ms ease-in-out;
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
